<div class="col-12">
  <mat-card class="cardWithShadow">
    <button mat-raised-button color="primary" type="button" (click)="addPerson()" >Agregar persona</button>
  </mat-card>
</div>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="f_nacimiento">
        <mat-header-cell *matHeaderCellDef> Fecha de nacimiento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.f_nacimiento}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="ciudad">
        <mat-header-cell *matHeaderCellDef> Ciudad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ciudad}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef> Avatar </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a mat-raised-button href="{{element.avatar}}">Link</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button color="warn" mat-raised-button>Editar</button>
            
            <button color="accent" 
                mat-raised-button 
                (click)="deletePerson(element)">Eliminar</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  